.pd-specs{
    background-color: rgb(251, 248, 248);
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
    background: #f0f2eb;
    padding-top: 30px;
}

.spec-logo{
    color: #15a175;
}

.logo-name{
    color: #1d3629;
    font-weight: 400;
}

.spec-des{
    color: #000000;
    font-size: large;
    font-weight: 600;
}
    