*{
    margin: 0px;
    padding: 0px;
}

.servies-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home{
    background-color: #ffffff;
    /* padding: 10px; */
}

.location-part{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}